---
import 'virtual:windi.css';
import '../styles/reset.css';
import '../styles/main.scss';
import 'katex/dist/katex.min.css';
import { seo as seoProps, SEOProps, siteName } from '../../site.config';
import { SEO } from 'astro-seo';
export interface Props {
  title: string;
}

const { title } = Astro.props;
const seo: SEOProps = { ...seoProps, title: `${title} · ${siteName}` };

//@ts-ignore: defensive programming
if ('openGraph' in seo === false) seo.openGraph = { basic: {} };
seo.openGraph.basic = {
  image: seoProps.extend.link.find((item) => item.rel === 'icon').href,
  title,
  type: 'website',
};
seo.openGraph.optional = {
  ...seo.openGraph.optional,
  description: seoProps.description,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO {...seo} />
  </head>
  <body>
    <slot />
  </body>
</html>
